# Visual Studio
.vs
*vcxproj*
*.sln
Release
Debug
x64
[Ww]in32

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CppRandLib specifics
.gitignore
archives
c++11/c++11.cpp
c++20/c++20.cpp
docs
scripts
